In [25]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [12]:
url = 'https://books.toscrape.com/'

headers = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36'}

page = requests.get(url, headers=headers)

In [13]:
soup = BeautifulSoup(page.text, 'html.parser')

In [14]:
books = soup.find_all('article', class_='product_pod')

In [1]:
# for book in books:
#     title = book.h3.a['title']
#     price = book.find('p', class_='price_color').text
#     availability = book.find('p', class_='instock availability').text.strip()
#     link = url + book.h3.a['href']
#
#     print(f'Título: {title}')
#     print(f'Preço: {price}')
#     print(f'Disponibilidade: {availability}')
#     print(f'Link: {link}')
#     print('-' * 50)

In [24]:
titles = [book.h3.a['title'] for book in books]
prices = [(float(book.find('p', class_='price_color').text.replace('Â£', ''))) for book in books]

In [27]:
books_data = {
    'Title': titles,
    'Price': prices
}
pd.DataFrame(books_data)

                                                Title  Price
0                                A Light in the Attic  51.77
1                                  Tipping the Velvet  53.74
2                                          Soumission  50.10
3                                       Sharp Objects  47.82
4               Sapiens: A Brief History of Humankind  54.23
5                                     The Requiem Red  22.65
6   The Dirty Little Secrets of Getting Your Dream...  33.34
7   The Coming Woman: A Novel Based on the Life of...  17.93
8   The Boys in the Boat: Nine Americans and Their...  22.60
9                                     The Black Maria  52.15
10     Starving Hearts (Triangular Trade Trilogy, #1)  13.99
11                              Shakespeare's Sonnets  20.66
12                                        Set Me Free  17.46
13  Scott Pilgrim's Precious Little Life (Scott Pi...  52.29
14                          Rip it Up and Start Again  35.02
15  Our Band Could Be Your Life: Scenes from the A...  57.25
16                                               Olio  23.88
17  Mesaerion: The Best Science Fiction Stories 18...  37.59
18                       Libertarianism for Beginners  51.33
19                            It's Only the Himalayas  45.17